Importing some packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
covid_cases = pd.read_csv('../data/COVID_CountByZipPerDate 03292021.csv')
covid_cases.head()

  Specimen Collection Date      Zip  Cases
0                 3/6/2020  37217.0      1
1                3/10/2020  37214.0      1
2                3/11/2020  37013.0      1
3                3/11/2020  37204.0      2
4                3/11/2020  37205.0      1

In [6]:
covid_cases = covid_cases.rename(columns = {'Specimen Collection Date' : 'Date', 'Zip':'Zip','Cases':'Cases'})
covid_cases.head()

        Date      Zip  Cases
0   3/6/2020  37217.0      1
1  3/10/2020  37214.0      1
2  3/11/2020  37013.0      1
3  3/11/2020  37204.0      2
4  3/11/2020  37205.0      1

In [ ]:
plt.scatter(x = year2004['GDP_Per_Capita'], y = year2004['Internet_Users_Pct'])
plt.xlabel('GDP Per Capita')
plt.ylabel('Percent of Internet Users')
_= plt.title('2004: GDP Per Capita vs Percent of Internet Users')