In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
vaccine_df = pd.read_csv('data/vaccine_with_protocol.csv')

In [10]:
vaccine_df.zipcode = vaccine_df.zipcode.astype('Int64')
vaccine_df.zipcode = vaccine_df.zipcode.astype('str')

In [11]:
vaccine_df.head()

    vacc_date zipcode  count_given  dose_nbr  protocol
0  2020-12-12   37215          1.0       1.0  two-shot
1  2020-12-14   37205          1.0       2.0  two-shot
2  2020-12-14   37215          1.0       1.0  two-shot
3  2020-12-15   37221          1.0       1.0  two-shot
4  2020-12-16   37215          1.0       1.0  two-shot

In [12]:
vaccine_df.tail()

       vacc_date zipcode  count_given  dose_nbr  protocol
6689  2021-04-07   37228          9.0       1.0  two-shot
6690  2021-04-07   37228          2.0       2.0  two-shot
6691  2021-04-07    <NA>          8.0       1.0  two-shot
6692  2021-04-07    <NA>          1.0       1.0  one-shot
6693  2021-04-07    <NA>          7.0       2.0  two-shot

In [13]:
vaccine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694 entries, 0 to 6693
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vacc_date    6694 non-null   object
 1   zipcode      6694 non-null   object
 2   count_given  6686 non-null   float64
 3   dose_nbr     6686 non-null   float64
 4   protocol     6694 non-null   object
dtypes: float64(2), object(3)
memory usage: 261.6+ KB

In [14]:
vaccine_by_zip = vaccine_df.groupby("zipcode")["count_given"].count()

What is this giving me?  not what I want I think....

In [15]:
vaccine_by_zip

zipcode
37013    235
37027    124
37069     58
37072    239
37076    237
37080    217
37115    238
37138    234
37189    215
37201    183
37203    238
37204    239
37205    241
37206    238
37207    239
37208    232
37209    240
37210    231
37211    242
37212    235
37213     68
37214    237
37215    247
37216    237
37217    232
37218    227
37219    194
37220    228
37221    240
37228    184
37238      5
<NA>     232
Name: count_given, dtype: int64