In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
covid_df = pd.read_csv('COVID_CountByZipPerDate 03292021.csv')
vaccine_df = pd.read_csv('vaccine_with_protocol.csv')

In [3]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8832 entries, 0 to 8831
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Specimen Collection Date  8832 non-null   object
 1   Zip                       8456 non-null   float64
 2   Cases                     8832 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 207.1+ KB

In [4]:
vaccine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694 entries, 0 to 6693
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vacc_date    6694 non-null   object
 1   zipcode      6462 non-null   float64
 2   count_given  6686 non-null   float64
 3   dose_nbr     6686 non-null   float64
 4   protocol     6694 non-null   object
dtypes: float64(3), object(2)
memory usage: 261.6+ KB

In [5]:
covid_df.Zip = covid_df.Zip.astype('Int64')
vaccine_df.zipcode = vaccine_df.zipcode.astype('Int64')

In [6]:
covid_df.Zip = covid_df.Zip.astype('str')
vaccine_df.zipcode = vaccine_df.zipcode.astype('str')

In [7]:
covid_df.columns = ['date', 'zip', 'cases']
vaccine_df.columns = ['date', 'zip', 'count_given', 'dose_nbr', 'protocol']

In [8]:
covid_df.date = pd.to_datetime(covid_df.date)
vaccine_df.date = pd.to_datetime(vaccine_df.date)

In [9]:
vaccine_df['month'] = vaccine_df['date'].dt.month
vaccine_df['year'] = vaccine_df['date'].dt.year
covid_df['month'] = covid_df['date'].dt.month
covid_df['year'] = covid_df['date'].dt.year

In [10]:
vaccine_df['month_year'] = vaccine_df['month'].map(str) + '-' + vaccine_df['year'].map(str)
covid_df['month_year'] = covid_df['month'].map(str) + '-' + covid_df['year'].map(str)

In [11]:
vaccine_df

,date,zip,count_given,dose_nbr,protocol,month,year,month_year
0,2020-12-12,37215,1.0,1.0,two-shot,12,2020,12-2020
1,2020-12-14,37205,1.0,2.0,two-shot,12,2020,12-2020
2,2020-12-14,37215,1.0,1.0,two-shot,12,2020,12-2020
3,2020-12-15,37221,1.0,1.0,two-shot,12,2020,12-2020
4,2020-12-16,37215,1.0,1.0,two-shot,12,2020,12-2020
...,...,...,...,...,...,...,...,...
6689,2021-04-07,37228,9.0,1.0,two-shot,4,2021,4-2021
6690,2021-04-07,37228,2.0,2.0,two-shot,4,2021,4-2021
6691,2021-04-07,<NA>,8.0,1.0,two-shot,4,2021,4-2021
6692,2021-04-07,<NA>,1.0,1.0,one-shot,4,2021,4-2021
6693,2021-04-07,<NA>,7.0,2.0,two-shot,4,2021,4-2021

In [12]:
vaccine_df_my = vaccine_df[['month_year', 'zip', 'count_given', 'dose_nbr', 'protocol']]
covid_df_my = covid_df[['zip', 'month_year', 'cases']]

In [13]:
v_my_g = vaccine_df_my.groupby(['month_year', 'zip'])
c_my_g = covid_df_my.groupby(['zip'])

#### Explore sum in group by

In [16]:
covid_df_my = pd.to_datetime(covid_df_my.month_year)

In [20]:
covid_df_my = covid_df_my.sort_values(['zip', 'month_year'])

TypeError: unhashable type: 'list'

In [21]:
print(covid_df_my.head(20))

0    2020-03-01
1    2020-03-01
2    2020-03-01
3    2020-03-01
4    2020-03-01
5    2020-03-01
6    2020-03-01
7    2020-03-01
8    2020-03-01
9    2020-03-01
10   2020-03-01
11   2020-03-01
12   2020-03-01
13   2020-03-01
14   2020-03-01
15   2020-03-01
16   2020-03-01
17   2020-03-01
18   2020-03-01
19   2020-03-01
Name: month_year, dtype: datetime64[ns]

In [22]:
plt.scatterplt('')

AttributeError: module 'matplotlib.pyplot' has no attribute 'scatterplt'

In [23]:
c_my_g.describe()

       cases
       count       mean        std  min   25%   50%    75%    max
zip
37013  382.0  34.958115  33.469041  1.0  13.0  24.0  45.00  215.0
37027  132.0   1.750000   1.231737  1.0   1.0   1.0   2.00    7.0
37069   13.0   1.230769   0.599145  1.0   1.0   1.0   1.00    3.0
37072  338.0   8.828402   9.351692  1.0   3.0   5.5  12.00   59.0
37076  357.0  11.985994  11.779449  1.0   3.0   8.0  16.00   61.0
37080  192.0   2.989583   2.594778  1.0   1.0   2.0   4.00   14.0
37115  361.0  12.670360  11.707995  1.0   4.0   9.0  17.00   82.0
37138  323.0   7.303406   8.020600  1.0   2.0   5.0   9.00   43.0
37189  211.0   2.270142   1.736995  1.0   1.0   2.0   3.00   12.0
37201  153.0   1.954248   1.268753  1.0   1.0   2.0   2.00    7.0
37203  344.0   9.726744   9.460723  1.0   3.0   6.0  14.00   69.0
37204  306.0   5.836601   5.044663  1.0   2.0   4.0   8.00   24.0
37205  330.0   7.775758   7.977439  1.0   2.0   5.0  10.00   48.0
37206  340.0   9.152941   8.973913  1.0   3.0   6.0  13.00   51.0
37207  361.0  13.099723  12.212063  1.0   4.0   9.0  17.00   66.0
37208  338.0   7.183432   6.990164  1.0   2.0   5.0  11.00   38.0
37209  364.0  13.934066  13.013493  1.0   4.0   9.0  19.00   73.0
37210  336.0   6.250000   6.088158  1.0   2.0   4.0   8.00   38.0
37211  379.0  27.000000  25.454389  1.0   9.0  18.0  36.00  159.0
37212  313.0   5.824281   5.163772  1.0   2.0   4.0   8.00   43.0
37213   43.0   1.511628   1.334025  1.0   1.0   1.0   1.50    9.0
37214  355.0   9.881690  10.472864  1.0   3.0   6.0  13.00   66.0
37215  317.0   7.690852   6.949570  1.0   2.0   6.0  11.00   41.0
37216  318.0   6.323899   5.906644  1.0   2.0   4.0   9.00   31.0
37217  362.0  10.792818   9.774672  1.0   4.0   8.0  14.00   68.0
37218  321.0   5.560748   5.538238  1.0   2.0   4.0   7.00   47.0
37219  140.0   1.928571   1.520332  1.0   1.0   1.0   2.00   11.0
37220  214.0   3.065421   2.465808  1.0   1.0   2.0   4.00   14.0
37221  342.0  11.432749  11.967938  1.0   3.0   7.0  15.00   65.0
37228  168.0   1.845238   1.168386  1.0   1.0   1.0   2.00    6.0
37238    3.0   1.000000   0.000000  1.0   1.0   1.0   1.00    1.0
<NA>   376.0  22.372340  31.370299  1.0   5.0  12.0  25.25  272.0

In [ ]:
plt.bar('month_year', 'cases', data = covid_df_my)
plt.ylim(0, 300)
plt.xticks(rotation = 70)
plt.title('');

In [ ]:
v_my_g.describe()

In [ ]:
c_my_g.describe()

In [ ]:
vaccine_df_by_zip = vaccine_df.groupby('zip')
covid_df_by_zip = covid_df.groupby('zip')

In [ ]:
vaccine_df_by_date = vaccine_df.groupby('date')
covid_df_by_zip_date = covid_df.groupby('date')

In [ ]:
vaccine_df_by_date['month'] = vaccine_df_by_date['date'].dt.month

In [ ]:
vaccine_df.info()

In [ ]:
covid_df.info()

In [ ]:
vaccine_df.head()

In [ ]:
covid_df_by_zip.describe()

In [ ]:
vaccine_df_by_date.describe()