In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
covid_df = pd.read_csv('COVID_CountByZipPerDate 03292021.csv')

In [3]:
vaccine_df = pd.read_csv('vaccine_with_protocol.csv')

In [4]:
covid_df.Zip = covid_df.Zip.astype('Int64')
covid_df

     Specimen Collection Date    Zip  Cases
0                    3/6/2020  37217      1
1                   3/10/2020  37214      1
2                   3/11/2020  37013      1
3                   3/11/2020  37204      2
4                   3/11/2020  37205      1
...                       ...    ...    ...
8827                3/27/2021  37210      1
8828                3/27/2021  37211      1
8829                3/27/2021  37212      1
8830                3/27/2021  37214      2
8831                3/27/2021  37221      2

[8832 rows x 3 columns]

In [5]:
vaccine_df.zipcode = vaccine_df.zipcode.astype('Int64')
vaccine_df.groupby.
vaccine_df

       vacc_date  zipcode  count_given  dose_nbr  protocol
0     2020-12-12    37215          1.0       1.0  two-shot
1     2020-12-14    37205          1.0       2.0  two-shot
2     2020-12-14    37215          1.0       1.0  two-shot
3     2020-12-15    37221          1.0       1.0  two-shot
4     2020-12-16    37215          1.0       1.0  two-shot
...          ...      ...          ...       ...       ...
6689  2021-04-07    37228          9.0       1.0  two-shot
6690  2021-04-07    37228          2.0       2.0  two-shot
6691  2021-04-07     <NA>          8.0       1.0  two-shot
6692  2021-04-07     <NA>          1.0       1.0  one-shot
6693  2021-04-07     <NA>          7.0       2.0  two-shot

[6694 rows x 5 columns]